//all the styles regarding the task class would come here
.task
  padding: 0
  text-decoration-color: $black
  position: relative
  display: flex
  background-color: transparent
  border-bottom: 1px solid $light-black
  &:last-child
    border-bottom: 0
  &--item
    padding: 0.25em 1.5em
    list-style: none
  &--input
    transform: scale(1.5)
    &:checked + .task--item
      opacity: 0.2
  &--group
    padding: 0.25em 1.5em
    width: 100%
    display: flex
    flex-direction: row
    align-items: center
  &--button
    color: $mid-black
    background-color: transparent
    border: none
    padding: 0.15em 0.25em
    position: relative
    cursor: pointer
    float: right
    margin:
      right: 1.5em
    transition: .25s ease all
    z-index: 999
    display: flex
    justify-content: center
    align-items: center
    &:hover
      transition: .25s ease all
      color: $danger
  &--icon
    color: $black
